<h1>Random Search Engine</h1>

<form class="input-group" action="/search" method="POST">
	<input name="query" type="text" class="go-text-input form-control" placeholder="Search for..." />
	<span class="input-group-btn">
	  <button class="go-submit-button btn btn-secondary" type="submit">Go!</button>
	</span>
</form>
